---
layout: layouts/home.njk
title: Posts | jwdeane.com
permalink: /posts/
eleventyNavigation:
  key: Posts
  order: 2
---

<h1>All Posts</h1>

{% set postslist = collections.posts %}
{% if postslist.length %}
  {% include "postslist.njk" %}
{% else %}
<p>👻 🏚️ &nbsp;No posts yet.</p>
{% endif %}
