---
layout: layouts/home.njk
title: Today I Learned | jwdeane.com
permalink: /til/
eleventyNavigation:
  key: TIL
  order: 3
---

<h1>TIL</h1>

{% set postslist = collections.til %}
{% if postslist.length %}
  {% include "postslist.njk" %}
{% else %}
<p>👻 🏚️ &nbsp;No posts yet.</p>
{% endif %}

