---
layout: layouts/home.njk
title: Today I Learned | jwdeane.com
permalink: /til/
eleventyNavigation:
  key: TIL
  order: 3
---

<h1>TIL</h1>

{% set postslist = collections.til %}
{% include "postslist.njk" %}
